{% extends 'base.html' %} {% block content %} {% load static %}

{% for client in client_info %}
<ul class="container">
<p> Current case notes and goals for {{client.firstName}} {{client.lastName}}: </p>
<br>
<li class="flex-item">Notes: {{client.clientNotes}}</li>
<br>
</ul>

{% endfor %}
{% for x in client_goal %}
<ul class="container">
<form action="{% url 'goalstatus' x.id %}" method="POST">
    {% csrf_token %}
     <!-- Loop through goals to display  -->
    <li class="flex-item">
        Goal: {{x.goalNotes}}<br>
        Deadline: {{x.goalEndDate}}<br>
        Update Status: {{x.goals}}<br>
        <br>
        <select name="goals">
            <br>
            <option value="False">Incomplete</option>
            <option value="True">Complete</option>
        </select>
        <br>
    <input type="submit" value="Update"/><br><br>
    <br>
    </li>
</form>
</ul>
{% endfor %}
{% if goals is True %}
This appears to be True
{% endif %}
<br><br>
<br><br>
{% endblock %}