{% extends 'base.html' %} {% block content %}
<h1>Home</h1>
{% if user.is_authenticated %}
    Hi {{user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <nav class="nav flex-column">
        <a class="nav-link active" aria-current="page" href="#">Goals and Deadlines</a>
        <a class="nav-link active" aria-current="page" href="#">Add New Client</a>
        <a class="container-fluid">
            <form class="nav-link search" role="search">
              <input class="form-control me-2" type="search" placeholder="Search for Client" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
    </nav>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}