{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Capstone</title>
  </head>
  <style>
    body {
      background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fcharity-for-shelter-icon-vector-id1134700200%3Fk%3D6%26m%3D1134700200%26s%3D612x612%26w%3D0%26h%3DHE6zeoErPJgVNHEzn8v67lzmMq7IKIArB5OoJeaezas%3D&f=1&nofb=1&ipt=6b1f903ef0b975101e6579e1685442c20e270cb05b7906f86048a5befba499a7&ipo=images);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
    }
  </style>
<body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <div id="author-form" class="form-group">
        {% csrf_token %}
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" />
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" />
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" />
        <label for="first_name">First Name</label>
        <input class="form-control" type="text" name="first_name" /><br />
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" name="last_name" /><br />
        <button type="submit" class="btn btn-primary mb-2 mt-3">Submit</button>
      </div>
    </form>
</body>
</html>